@using MVC.Models.Carros
@model CarrosModel

<div class="container mt-4">
    <h3>Lista de Carros</h3>
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carro in Model.Carros)
            {
                <tr>
                    <td>@carro.id</td>
                    <td>@carro.Nome</td>
                    <td>@carro.Placa</td>
                    <td>@carro.Ano</td>
                    <td>
                        <a href="@Url.Action("Record", "Carros", new { id = carro.id })" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
